
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-3">

            <div class="input-group" style="width: 200px">
                <span class="input-group-addon">Search</span>
                <input ng-model="vm.query" type="text" class="form-control" placeholder="...">
            </div>
            <div class="input-group" style="width: 200px">
                <span class="input-group-addon">Sort by</span>
                <select ng-model="vm.orderProp" class="form-control">
                    <option value="name">Alphabetical</option>
                    <option value="-population">Population</option>
                </select>
            </div>
        </div>
        <div class="col-xs-9">
            <div class="col-xs-3">
                <label>Country name: </label><br>
                <input ng-model="vm.name">
            </div>
            <div class="col-xs-3">
                <label>Country population: </label><br>
                <input ng-model="vm.population"><br>
            </div>
            <div class="col-xs-3">
                <label>Country capital: </label><br>
                <input ng-model="vm.capital">
            </div>
            <div class="col-xs-3" style="margin-top:29px;">
                <button class="btn btn-primary" ng-click="vm.addCountry()">Add new country</button>
            </div>
        </div>
    </div>
    <hr>
    <div>
        <country-details countries="vm.countries" order="vm.orderProp" query="vm.query"></country-details>
    </div>
</div>
