
    <div ng-repeat="country in countries | orderBy: order | filter: query" class="list-group-item col-xs-3">
        <a ng-click="vm.removeCountry(country)"><span class="glyphicon glyphicon-remove pull-right"></span></a>
        <p>Name: {{country.name}}</p>
        <p>Capital: {{country.capital}}</p>
        <p>Population: {{country.population}}</p>
        <a href="/countries/{{country._id}}" class="pull-right">To details -></a>
    </div>
