<div>
    <strong>Country: </strong>{{vm.country.name}} <br>
    <strong>Capital: </strong>{{vm.country.capital}} <br>
    <strong>Population: </strong>{{vm.country.population}}
</div>
<a href="/countries"> <- Get back</a>